* {
    margin: 0;
    padding: 0;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    text-align: right;
    width: 100%;
    padding-top: 20px;
    position: fixed;
    top: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 40px;
    font-size: 1.2em;
}

#intro {
    color: #4fe6c5;
}

#welcome-section {
    color: white;
    background: #333;
    height: 50vh;
    padding-top: 50vh;
    text-align: center;
}

#projects {
    padding: 50px;
}

#projects header {
    text-align: center;
    color: #277060;
}

.project-tile {
    width: 280px;
    height: 250px;
    text-decoration: none;
    color: #277060;
    display: inline-block;
    margin: 40px;
}

.project-title {
    margin-top: 20px;
    text-align: center;
}

img {
    width: 100%;
    height: 250px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.show {
    text-align: center;
    border-radius: 5px;
    background-color: #277060;
    color: #4fe6c5;
    border: 1px solid green;
    display: block;
    margin: 40px auto;
    width: 150px;
    height: 40px;
    font-size: 1.1em;
}

.show:hover {
    cursor: pointer;
    color: white;
}

#Contact {
    background-color: rgb(163, 228, 163);
    padding-bottom: 180px;
}

#Contact h3 {
    font-size: 32px;
    padding-top: 120px;
}

#Contact p {
    font-size: 1.2em;
}

#contact-container {
    margin-top: 40px;
}

.contact-link {
    padding-top: 20px;
    text-decoration: none;
}

.contact-btn {
    margin: 40px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #277060;
    color: #3577ce;
    font-size: 1.1em;
    padding: 10px;
}

.contact-btn:hover {
    cursor: pointer;
    color: green;
}

#footer {
    background-color: #22313F;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.2em;
    color: white;
}
.copyright {
    padding-top: 20px;
    text-align: center;
}
@media (max-width: 650px) {
    #navbar {
        text-align: center;
    }
    nav ul li {
    }
}